.container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.toolbar {
  display: flex;
  margin-bottom: 12px;
}

.addButton {
  background: var(--main-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 30px;
  border: 5px solid var(--darker-green);
  cursor: pointer;
  span {
    height: 22px;
  }
}

.content {
  display: flex;
  margin-bottom: 12px;
}

.listWrap {
  flex: 1;
}

.ml8 {
  margin-left: 8px;
}
